* {
  box-sizing: border-box;
  background-color: #293462;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: white;
  width: 90%;
  max-width: 1024px;
  padding-bottom: 2rem;
  margin: 0 auto;
  transition: 0.2s;
}

.header-container {
  padding: 1.5rem 0;
  text-align: center;
}

p {
  margin: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
  padding-top: 1rem;
}

h2 {
  padding-top: 1rem;
  font-weight: 600;
}

h3 {
  padding-top: 1rem;
  font-weight: 600;
}

h4 {
  padding-top: 1rem;
  font-weight: 600;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  padding-top: 2rem;
}

.footer-container {
  text-align: center;
  padding: 2rem 0;
}

/* This is the media query that changes styles when the viewport is 700px or more; can be applied in the initial 'header.container' with display: flex; / flex-direction: column; */

@media (min-width: 700px) {
  .header-container {
    text-align: left;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

h1 {
  margin: 0;
}

li {
  margin: 0 0 0 1rem;
}

.main-container {
  padding-top: 2rem;
}

.cookie-section {
  flex-direction: row;
  justify-content: space-between;
}

.img-container {
  width: 30%;
}
